
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rancho&display=swap');
@import "tailwindcss";
@plugin "daisyui";



body {
    font-family: 'Inter', serif;
    /* font-family: 'Inter', sans-serif; */
  }
  @keyframes moveCar {
    0% {
      transform: translateX(-100px); /* Start off the left side */
    }
    100% {
      transform: translateX(100vw); /* Move off to the right */
    }
  }
  
  @layer utilities {
    .fade-in {
      @apply opacity-100 translate-y-0;
    }
  }
  
  @keyframes border-scroll {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .animate-border-scroll {
    background: linear-gradient(90deg, blue, purple, cyan);
    background-size: 300% 100%;
    animation: border-scroll 3s linear infinite;
    mask-composite: exclude;
  }